// @media (min-width: 576px) {
// 	.bird-item {
// 		height: 200px;
// 		width: 380px;
// 		box-shadow: 0 12px 22px 1px grey;

// 		&__image {
// 			box-shadow: 0 10px 20px 1px grey;
// 			margin: 1em;
// 			width: 130px;
// 			height: 130px;

// 			&--img {
// 				width: 130px;
// 				height: 130px;
// 			}
// 		}

// 		&__text {
// 			font-size: 1.3em;
// 			padding: 5px;
// 			margin: 5px;
// 		}

// 		&__name {
// 			height: 50%;
// 			padding: 5px;
// 		}

// 		&__description {
// 			font-size: 0.6em;
// 			padding: 8px;
// 		}
// 	}
// }

// @media (min-width: 768px) {
// 	.bird-item {
// 		height: 270px;
// 		width: 500px;

// 		&__image {
// 			margin: 1.5em;
// 			width: 170px;
// 			height: 170px;
// 			&--img {
// 				width: 170px;
// 				height: 170px;
// 			}
// 		}

// 		&__text {
// 			font-size: 1.9em;
// 		}
// 	}
// }

// @media (min-width: 1200px) {
// 	.bird-item {
// 		margin-top: 5em;
// 		height: 350px;
// 		width: 700px;
// 		box-shadow: 0 15px 30px 1px grey;

// 		&__image {
// 			box-shadow: 0 15px 30px 1px grey;
// 			margin: 1em;
// 			width: 250px;
// 			height: 250px;
// 			&--img {
// 				width: 250px;
// 				height: 250px;
// 			}
// 		}

// 		&__text {
// 			font-size: 2.5em;
// 			padding: 5px;
// 			margin: 10px;
// 		}

// 		&__name {
// 			padding: 10px;
// 		}

// 		&__description {
// 			font-size: 2rem;
// 			padding: 10px;
// 		}
// 	}
// }

.bird-card {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 480px;
	width: 280px;
	box-shadow: 0 10px 20px 1px grey;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;

		border-radius: 5px;
		height: 500px;
		width: 280px;

		&--image {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 280px;
			height: 210px;
			box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
			border-radius: 15px;
		}

		&--content {
			margin-top: 10px;
			padding: 10px 15px;
			color: #111;
			text-align: center;
		}

		&--name {
			font-size: 2em;
		}

		&--description {
			font-size: 0.8em;
			margin: 6px;
			line-height: 15px;
			padding: 5px;
		}
	}
}

img {
	border-radius: 15px;
	height: 210px;
	width: 280px;
	border-radius: 5px;
}

@media (min-width: 576px) {
	.bird-card {
		height: 480px;
		width: 400px;

		&__item {
			height: 500px;
			width: 380px;

			&--image {
				height: 250px;
				width: 380px;
			}
		}
	}

	img {
		height: 250px;
		width: 380px;
		border-radius: 5px;
	}
}

@media (min-width: 768px) {
	.bird-card {
		height: 680px;
		width: 500px;

		&__item {
			height: 700px;
			width: 500px;

			&--image {
				height: 300px;
				width: 500px;
			}

			&--description {
				font-size: 1.3em;
				line-height: 25px;
			}

			&--name {
				font-size: 2.5em;
			}
		}
	}

	img {
		height: 300px;
		width: 500px;
	}
}

@media (min-width: 1200px) {
	.bird-card {
		height: 880px;
		width: 700px;

		&__item {
			height: 900px;
			width: 700px;

			&--image {
				height: 350px;
				width: 700px;
			}

			&--description {
				font-size: 1.9em;
				line-height: 35px;
			}

			&--name {
				font-size: 3em;
			}
		}
	}

	img {
		height: 350px;
		width: 700px;
	}
}
