.bird-component {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
	height: 500px;
	width: 280px;
	box-shadow: 0 10px 20px 1px grey;
	background: white;
	border-radius: 5px;
	overflow: hidden;
	font-size: 14px;

	&:hover {
		cursor: pointer;
		background-color: #dde0ab;
		transition: 0.5s;
	}
}

@media (min-width: 576px) {
	.bird-component {
		padding: 1em;
		height: 500px;
		width: 380px;
	}
}

@media (min-width: 768px) {
	.bird-component {
		padding: 1.2em;
		height: 700px;
		width: 500px;
	}
}

@media (min-width: 1200px) {
	.bird-component {
		padding: 1em;
		height: 900px;
		width: 700px;
	}
}
