.card {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
	height: 150px;
	width: 280px;
	box-shadow: 0 10px 20px 1px grey;
	background: white;
	border-radius: 5px;
	overflow: hidden;

	&:hover {
		cursor: pointer;
		background-color: #dde0ab;
		transition: 0.5s;
	}
}

@media (min-width: 576px) {
	.card {
		padding: 1em;
		height: 200px;
		width: 380px;
	}
}

@media (min-width: 768px) {
	.card {
		padding: 1.2em;
		height: 270px;
		width: 500px;
	}
}

@media (min-width: 1200px) {
	.card {
		padding: 1em;
		height: 350px;
		width: 700px;
	}
}
