//burger button

.burger-button {
	position: fixed;
	top: 1px;
	right: 10px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid green;
		border-radius: 8px;
	}

	&:hover {
		.burger-button__bars::after,
		.burger-button__bars::before {
			width: 100%;
		}
	}

	&__container {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		background-color: black;
		transition: width 0.3s;
		height: 3px;
		content: '';
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 60%;
		}

		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

//navigation
.navigation {
	width: 100%;
	height: 8vh;
	background-color: white;
	display: flex;
	flex-direction: row;
	color: #668ba4;
	opacity: 0.8;
	position: fixed;

	&__logo {
		width: 60px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 10px;
		left: 20px;
		padding: 1em;
		z-index: 101;
		border-radius: 10%;

		&--image {
			width: 60px;
			height: 60px;
			border-radius: 10%;
		}
	}

	&__items {
		position: fixed;
		top: 0;
		height: 100vh;
		width: 100%;
		background-color: green;
		z-index: 100;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transform: translateY(100%);
		transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

		&--active {
			transform: translateY(0);
		}
	}

	&__item {
		position: relative;
		color: brown;
		margin: 0.5em 0em;
		padding: 0.5em 1.5em;
		font-size: 2em;
		text-decoration: none;

		&:hover {
			font-size: 2.5em;
			text-shadow: green;
			font-weight: 600;
			transition: 1s;
		}
	}
}

.hidden {
	display: none;
}

@media (min-width: 576px) {
	.burger-button {
		top: 20px;
		right: 20px;
	}

	.navigation {
		height: 15vh;

		&__logo {
			width: 120px;
			height: 120px;

			&--image {
				width: 120px;
				height: 120px;
			}
		}
	}
}

@media (min-width: 567px) {
	.burger-button {
		top: 10px;
		right: 10px;
	}

	.navigation {
		height: 10vh;

		&__logo {
			width: 80px;
			height: 80px;

			&--image {
				width: 80px;
				height: 80px;
			}
		}
	}
}

@media (min-width: 768px) {
	.burger-button {
		top: 20px;
		right: 12px;
	}

	.navigation {
		height: 12vh;

		&__logo {
			width: 100px;
			height: 100px;

			&--image {
				width: 100px;
				height: 100px;
			}
		}
	}
}

@media (min-width: 1200px) {
	.burger-button {
		top: 20px;
		right: 20px;
		&__container {
			width: 60px;
			height: 50px;
		}
	}

	.navigation {
		height: 15vh;

		&__logo {
			width: 120px;
			height: 120px;

			&--image {
				width: 120px;
				height: 120px;
			}
		}
	}
}
