.navigation-list {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	width: 100%;
	font-size: 1.4em;
	height: 100%;

	& a {
		text-decoration: none;
		color: black;
	}

	&__item {
		margin: 20px;
		:hover {
			color: #dde0ab;
			transition: 0.3s;
		}
	}
}

@media (min-width: 576px) {
	.navigation-list {
		position: inherit;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 70%;
		font-size: 1em;

		&__item {
			:hover {
				color: #97cba9;
				transition: 0.3s;
			}
		}
	}
}

@media (min-width: 1200px) {
	.navigation-list {
		width: 60%;
	}
}
